<div class="jumbotron text-center">   
<h1 class="display-3">Welcome to StudentApp</h1>
<p class="lead">Jot Down Ideas For Your Next YouTube videos</p>
<a href="/student" class="btn btn-dark btn-lg">Add Student</a>
</div>