<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
    <div class="card card-body">
        <h1 class="text-center">Account Login</h1>
<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name='email' class="form-control"  placeholder="email" required>
  </div>
  <div class="form-group">
    <label for="Password1">Password</label>
    <input type="password" name='password' class="form-control" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>
</div>
</div>
</div>
</div>