<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
    <div class="card card-body">
        <h1 class="text-center">Account Register</h1>
<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="email" name='name' class="form-control"  placeholder="Full Name" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email"  name='email' class="form-control"  placeholder="email" required>
  </div>
  <div class="form-group">
    <label for="Mob">Mobile Number</label>
    <input type="text" name="mob" class="form-control"  pattern="[789][0-9]{9}" placeholder="Mobile Number" required>
  </div>
  <div class="form-group">
    <label for="Password1">Password</label>
    <input type="password" name='password' class="form-control" placeholder="Password" required>
  </div>
  <div class="form-group">
    <label for="Password2">Confirm Password</label>
    <input type="password" name='password2' class="form-control" placeholder="Confirm Password" required>
  </div>
  <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>
</div>
</div>
</div>
</div>